@model UserBase

@{
    ViewData["Title"] = "用户删除";
}

<h2>删除</h2>

<h3>你确定要删除吗？</h3>
<div>
    <h4>UserBase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            用户名
            @*@Html.DisplayNameFor(model => model.SignName)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SignName)
        </dd>
        <dt>
            密码
            @*@Html.DisplayNameFor(model => model.PassWord)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassWord)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-action="Index">回到用户管理</a>
    </form>
</div>
