@model AuthorizationCenter.Models.UserBase

@{
    ViewData["Title"] = "用户详情";
}

<h2>详情</h2>

<div>
    <h4>用户</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            用户名
            @*@Html.DisplayNameFor(model => model.SignName)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SignName)
        </dd>
        <dt>
            密码
            @*@Html.DisplayNameFor(model => model.PassWord)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PassWord)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">编辑</a> |
    <a asp-action="Index">回到用户管理</a>
</div>
